{% extends 'user_base.html' %}
{% block title %}Profile Update|User{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="text-center">
        <h1 style="color: darkgreen;" class="fw-bold">User Profile Upate</h1>
    </div>
    
    <div class="profile-section">
        <h3 style="text-align: justify;">Profile Picture</h3>
        <div class="profile-picture-area">
            <img src="placeholder.jpg" alt="Profile Picture" class="profile-pic-preview">
            <input type="file", id="photo-upload" accept="image/">
            <button class="bth-upload" onclick="document.getElementById('photo-upload'),click();">
                Change Photo
            </button>
            <p class="hint-text">JPG or PNG. Max 5MB.</p>
        </div>
    </div>

    <div class="profile-section">
        <h3>Personal Information</h3>
        <form>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.full_name.label(class="form-label fw-bold")}}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.full_name(class="form-control", placeholder="Enter your full name") }}
                </div>
            </div>

            <div class="mb-3">
                {{ form.date_of_birth.label(class="form-label fw-bold") }}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    {{ form.date_of_birth(class="form-control", type="date", placeholder="Enter your Date of Birth")}}
                </div>
            </div>                    
        </form>
    </div>
    <div class="profile-section">
        <h3>
            Contact & Location
            <i class="fas fa-address-book"></i>
        </h3>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.location.label(class="form-label fw-bold")}}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-solid fa-location-dot"></i></span>
                    {{ form.location(class="form-control", type="location", placeholder="Enter your location") }}
                </div>
            </div>
        </form>

    </div>

</div>
{% endblock %}