{% extends 'base.html' %}
{% block title %}About Us | Abuu Market{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center text-success mb-4">
                <i class="fas fa-info-circle"></i> About Abuu Market
            </h2>
            <p> Abuu Market is a simple, developer-driven online marketplace built with flask. We aim to provide:</p>
            <ul>
                <li>Easy browsing of products</li>
                <li>Secure user accounts and order management</li>
                <li>Fast checkout with multiple payment options</li>
                <li>Responsive, mobile-friendly design</li>
            </ul>
            <p>Our mission is to empower small vendors and buyers to connect  seamlessly online. Whether you are looking for daily  essentials or unique finds, Abuu Market has you covered.</p>
        </div>
    </div>
</div>
{% endblock %}